/*********************
VIDEO BACKGROUND
*********************/
.video-background {
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: #000;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
    height: 100%;
}

.video-foreground {
	pointer-events: none;
    background: #000;
	opacity: 0;
    transition: opacity .5s ease-in;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom:56.25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.video-foreground iframe {
	pointer-events: none;
    max-width: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}